
<ObjectSpec>
<SpecVersion>17_0_7-156546</SpecVersion>
<Object>
<ObjClsGuid>9bdcc055-174e-4af6-96cb-a2ceef6c5f09</ObjClsGuid>
<ObjCls>36</ObjCls>
<ObjId>1</ObjId>
<ObjName>Menu</ObjName>
<ObjDesc>Menu</ObjDesc>
<ObjPgmName>Menu</ObjPgmName>
<ObjClsName>Dashboard</ObjClsName></Object>
<Result>genreq</Result>
<Warnings></Warnings>
<Errors></Errors>
<Main>Yes</Main>
<Generator>
<GenId>12</GenId>
<GenName>Default (Java)</GenName></Generator>
<FormClass>HTML</FormClass>
<Parameters></Parameters></ObjectSpec>